:root {
    color-scheme: light dark;
    --bg: #f8f8f8;
    --bg-dark: #222;

    --bg-info: #fff;
    --bg-info-dark: #444;

    --text: #000;
    --text-dark: #ddd;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: light-dark(var(--bg), var(--bg-dark));
    color: light-dark(var(--text), var(--text-dark));

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1 {
    text-align: center;
}

/* Screenings Information */
#screenings {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

.screening {
    display: flex;
    width: 100%;
    border: 1px black solid;
    margin-bottom: 0.5em;

    background: light-dark(var(--bg-info), var(--bg-info-dark));
}

.screening a img {
    display: block;
    flex: 1;
    width: 100%;
    max-width: 220px;
    height: auto;
}

.screening .info{
    flex: 1;
    text-align: center;
}

.screening .info table {
    width: 100%;
}

.screening a {
    color: light-dark(var(--text), var(--text-dark));
    text-decoration: none;
}

/* Filters */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;

    text-align: center;
    justify-content: center;
}

#selects {
    display: inline;
    margin-top: 0;
}

@media only screen and (max-width: 600px) {
    .screening img {
        object-fit: cover;
        max-width: 80px;
    }
}
