---
- name: Add Grafana GPG key
  apt_key:
    url: https://apt.grafana.com/gpg.key
    state: present
  when: ansible_pkg_mgr == 'apt'

- name: Add Grafana repository
  apt_repository:
    repo: "deb https://apt.grafana.com stable main"
    state: present
    update_cache: yes
  when: ansible_pkg_mgr == 'apt'

- name: Install Grafana
  package:
    name: grafana
    state: present

- name: Create Grafana provisioning directories
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: grafana
    mode: "0755"
  loop:
    - /etc/grafana/provisioning/datasources
    - /etc/grafana/provisioning/dashboards

- name: Configure Grafana
  template:
    src: grafana.ini.j2
    dest: /etc/grafana/grafana.ini
    owner: root
    group: grafana
    mode: "0640"
  notify: restart grafana

- name: Configure InfluxDB datasource
  template:
    src: datasource.yml.j2
    dest: /etc/grafana/provisioning/datasources/influxdb.yml
    owner: root
    group: grafana
    mode: "0644"
  notify: restart grafana

- name: Start and enable Grafana
  systemd:
    name: grafana-server
    state: started
    enabled: true
    daemon_reload: true
